VisitorRegistration.Web/Connected Services/VisitorRegistrationService/Endpoint3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VisitorRegistration.Wcf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VisitorRegistration.Wcf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Visitor">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfVisit" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Files" nillable="true" type="tns:ArrayOfFile" />
      <xs:element minOccurs="0" name="First_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IDNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Last_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Printed" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Signature" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VisitorPass" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Visitor" nillable="true" type="tns:Visitor" />
  <xs:complexType name="ArrayOfFile">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="File" nillable="true" type="tns:File" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFile" nillable="true" type="tns:ArrayOfFile" />
  <xs:complexType name="File">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Visitor" nillable="true" type="tns:Visitor" />
      <xs:element minOccurs="0" name="VisitorID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="File" nillable="true" type="tns:File" />
  <xs:complexType name="ArrayOfVisitor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Visitor" nillable="true" type="tns:Visitor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisitor" nillable="true" type="tns:ArrayOfVisitor" />
</xs:schema>